{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="icon" href="{% static 'images/kecil.svg' %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/4ee029818e.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
    </script>

  <style>
    body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    }

  #content {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  #content img {
    width: 350px;
    margin-right: 100px;
    float: left;
  }

  #content h6{
    margin-left: 15px;
    display: block;
    color:white;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style= "background-color: whitesmoke">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" style="width:150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://www.gic.aiesecui.id">GIC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'abroad' %}"">Go Abroad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= "{% url 'projects' %}">Our Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href= "{% url 'about' %}">About Us</a>
      </li>
    </ul>
    </div>
  </nav>

{% block content %}
{% endblock content %}

<p>&nbsp;</p>
<img src="{% static 'images/sponsors.gif' %}" alt="Logo" style="display: block; margin-left: auto; margin-right: auto; width: 40%;">
<footer class="page-footer font-medium special-color-dark pt-4">
    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'abroad' %}">Go Abroad</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'projects' %}">Our Projects</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" style="width:150px"></a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#">About Us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md mb-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="http://aiesec.or.id/">AIESEC Indonesia</a>
        </h6>
      </div>
      <!-- Grid column -->
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
     <p>&nbsp;</p>
  <!-- Footer Elements -->
  <div class="container">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.linkedin.com/company/aiesecui/">
          <i class="fab fa-line"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/company/aiesecui/">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.instagram.com/aiesec_ui/">
          <i class="fab fa-instagram fa-lg"> </i>
        </a>
      </li>
    </ul>
  </div>
  <p>&nbsp;</p>
  <div class="text-center p-3" style="background-color: #037ef3; color: white;">
    © 2021 Copyright<br>AIESEC in Universitas Indonesia
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>
