<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <title>AIESEC in Universitas Indonesia</title>
</head>
<body>
    <div id=intro>
        <h1 id="introtxt" style="color:white;">Get To Know AIESEC UI</h1></br>
        <a href="#" data-toggle="modal" data-target="#mymodal" data-theVideo="https://www.youtube.com/embed/fTAfD5FFfxE"><img src="{% static 'images/play.png' %}" alt="My Face" id="play"></a>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="mymodal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div>
            <iframe width="100%" height="800" src=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h2 id="title" style="margin-top: 90px;">AIESEC in Universitas Indonesia </h2>
    <p>&nbsp;</p>
    <p id="desc" style="margin-left: 90px; margin-right: 90px; padding-bottom: 50px; text-align: center;">AIESEC is a global youth-led organization striving to achieve peace and fulfillment of humankind’s potential by activating leadership qualities in youth through learning from practical experiences in challenging environments. 
        AIESEC spreads across 114 countries and territories, including AIESEC in Indonesia. 
        AIESEC in Indonesia established in 1984 aims to develop youth to make a better Indonesia right now and in the future.
    </p>

    <p>&nbsp;</p>
    <img src="{% static 'images/stats.png' %}" alt="My Face" class="img-fluid" style="display: block; margin-left: auto; margin-right: auto;">
    <p>&nbsp;</p>
    
    <div style="display:block; background-color: #037EF3;">
      <div class="row">
        <div class="col" style="background: url(../static/images/GVcrop.jpeg); background-size:cover; padding: 125px 100px 450px; color:white;">
        </div>
        <div class="col" style="margin: 100px 50px 100px">
          <div class="card w-75" style="margin-inline:auto ; margin-top: 75px;">
            <div class="card-body" style="padding: 50px 50px 50px">
              <h5 class="card-title">Go Abroad with AIESEC in UI</h5>
              <p class="card-text">Develop your leadership through a volunteering project abroad, contributing to one of the Sustainable Development Goals.</p>
              <a class="btn btn-primary" href="{% url 'abroad' %}" role="button">Learn More</a>
          </div>
          </div>
        </div>
      </div>
    </div>

    <p>&nbsp;</p>

    <div style="display:block; background-color: #00C16E; ">
      <div class="row">
        <div class="col" style="margin: 100px 50px 100px">
          <div class="card w-75" style="margin-inline:auto; margin-top: 75px;">
            <div class="card-body" style="padding: 50px 50px 50px">
              <h5 class="card-title">Our Projects & Events</h5>
              <p class="card-text">Collaborative event that enterprise carefully planned and designed by AIESEC UI</p>
              <a class="btn btn-success" href="{% url 'projects' %}" role="button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col" style="background: url(../static/images/JA19crop.png); background-size:cover; padding: 125px 100px 450px; color:white;">
        </div>
      </div>
    </div>

    <p>&nbsp;</p>

    <div style="display:block; background-color: #fcc30b; ">
        <div class="row">
          <div class="col" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../static/images/sdga.jpg); padding: 150px 100px 0px; color:white;  ">
            <h1 style="font-size: 4vw; font-style: italic;">GLOBAL IMPACT<br/>CONFERENCE 2021</h1>
            <h4>&nbsp;Responsible Energy Consumption to Combat Climate Change</h4><br/>
          </div>
          <div class="col" style="margin: 100px 50px 100px">
            <h2> Join us on our mission for more sustainable earth through actions that will bring impact globally! </h2><br/>
            <p>Global Impact Conference is an initiative to align the current AIESEC plan with the goals of AIESEC in UI’s purpose. 
              The purpose is to achieve long-term sustainability to ensure peace and fulfillment of humankind's potential through developing leadership potential in youth, 
              create impactful collaboration with purposive partnership, and make a significant impact on the environment. 
              Besides, we do believe that pandemic situations make things harder for people due to economic difficulty. 
              To face this matter, we need to collaborate to create a hand-to-hand action.</p><br/>
            <a class="btn btn-gic btn-lg btn-block" href="http://www.gic.aiesecui.id" role="button">Check GIC's Official Website</a><br/>
          </div>
        </div>
      </div>

    <p>&nbsp;</p>

    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup" style="background-color: #f45f45;">
      <form action="https://aiesecui.us5.list-manage.com/subscribe/post?u=9a47fb525e433d86a76e24a76&amp;id=06b1f5c744" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <br/><h1 id="title" style="color: white;">Subscribe To Our Newsletter</h1>
        <h2 id="title" style="color: white;">To get updates about our activities and opportunities foryou career journey here in AIESEC in Universitas Indonesia</h2><br/>
      <div class="mc-field-group">
        <label for="mce-EMAIL" style="color: white;">Email Address </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9a47fb525e433d86a76e24a76_06b1f5c744" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
    </div>

<!--End mc_embed_signup-->

    <script>
        autoPlayYouTubeModal();
        function autoPlayYouTubeModal() {
            var trigger = $("body").find('[data-toggle="modal"]');
            trigger.click(function () {
                var theModal = $(this).data("target"),
                videoSRC = $(this).attr("data-theVideo"),
                videoSRCauto = videoSRC + "?autoplay=1";
                $(theModal + ' iframe').attr('src', videoSRCauto);
                $(theModal + ' button.close').click(function () {
                    $(theModal + ' iframe').attr('src', videoSRC);
                });
            });
        }
    </script>
    {% endblock content %}
</body>
</html>