<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>About AIESEC UI</title>
    <script>
        var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
        var collapseList = collapseElementList.map(function (collapseEl) {
            return new bootstrap.Collapse(collapseEl)
        })
    </script>
</head>
<body>
    <h1 style="margin-top: 100px; margin-left: 50px;">About Us</h1>
    <div class="card text-primary border-primary" style="margin: 0px 50px 0px">
        <div class="card-body">
            AIESEC was founded in 1948 in 7 countries in Europe by Jean Choplin (France), Bengt Sjøstrand (Sweden), and Dr. Albert Kaltenthaler (Germany). Over 65 years later we are present in 126 countries and territories.
        </div>
    </div>
    
    <br/>
    
    <div class="card mb-3" style="margin: 0px 50px 0px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/planes.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">A Brief History of How AIESEC was Created</h3>
              <p class="card-text">Nineteen forty-five.<br/><br/>The year when the world had reached its most vulnerable state. Humanity had been engulfed by hatred, envy, and greed.<br/>
                This was Nazi Germany’s golden age, where they would go on and invade most of Europe and eventually sparked the Second World War which lasted until 1945.<br/>
                85 million casualties were involved, making it the deadliest military conflict in history. Humanity was helpless and could not be controlled.<br/><br/>
                Until 1948, when seven people in their adolescence from seven nations, even after those horrific events, came together and gathered around a table.<br/>                
                Some spoke English, some spoke French and Dutch. But all of them had hope of restoring humanity. They had a mutual dream of building a cross-cultural understanding and create peace and fulfillment of humankind's potential.</p>
            </div>
          </div>
        </div>
    </div>

    <!-- Year In History -->
    <h2 style="margin:50px 50px 20px;">AIESEC Throughout the Years</h2>

    <div class="card" style="margin:0px 50px 0px; cursor: pointer;">
        <div class="card-header text-white bg-primary">
            <h5 class="card-title dropdown-toggle" data-target="#panel-1" data-toggle="collapse">1948 - AIESEC was established</h5>
        </div>
        <div class="card-collapse collapse" id="panel-1">
                <div class="panel-body" style="padding: 10px 50px 0px;">
                    <p>AIESEC was established in 1948 after World War II, where seven youth across seven countries had a dream of building cross-cultural understanding across nations. They hoped to change the world, one person and one internship at a time.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin:0px 50px 0px; cursor: pointer;">
        <div class="card-header text-white bg-primary">
            <h5 class="card-title dropdown-toggle" data-target="#panel-2" data-toggle="collapse">1977 - Spread across 6 continents </h5>
        </div>
        <div class="card-collapse collapse" id="panel-2">
                <div class="panel-body" style="padding: 10px 50px 0px;">
                    <p>By 1977, AIESEC was present in 50 countries across six continents! To this date, over 40,000 young people around the world had participated in a leadership development experience.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin:0px 50px 0px; cursor: pointer;">
        <div class="card-header text-white bg-primary">
            <h5 class="card-title dropdown-toggle" data-target="#panel-3" data-toggle="collapse">2010 - Over 10,000 experiences that year</h5>
        </div>
        <div class="card-collapse collapse" id="panel-3">
                <div class="panel-body" style="padding: 10px 50px 0px;">
                    <p>In 2010, AIESEC crosses 10,000 experiences delivered in one year alone for the first time. By now, over 230,000 experiences have been provided, all facilitated by youth for youth.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card" style="margin:0px 50px 0px; cursor: pointer;">
        <div class="card-header text-white bg-primary">
            <h5 class="card-title dropdown-toggle" data-target="#panel-4" data-toggle="collapse">2015 - Implementing SDGs</h5>
        </div>
        <div class="card-collapse collapse" id="panel-4">
                <div class="panel-body" style="padding: 10px 50px 0px;">
                    <p>
                        In 2015, AIESEC’s youth leaders from 126 countries and territories in collaboration with the Office of the Secretary-General's Envoy on Youth gathered at the United Nations Headquarters to 
                        promote and drive youth participation in implementing the Sustainable Development Goals (SDGs). 
                        The relevance and contribution of AIESEC is clearer than ever.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin:0px 50px 0px; cursor: pointer;">
        <div class="card-header text-white bg-primary">
            <h5 class="card-title dropdown-toggle" data-target="#panel-5" data-toggle="collapse">2020 - Youth leadership movement</h5>
        </div>
        <div class="card-collapse collapse" id="panel-5">
                <div class="panel-body" style="padding: 10px 50px 0px;">
                    <p>To sum it up, AIESEC is a global network of people that simply believe that youth leadership is not an option, but our responsibility.</p>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="card mb-3" style="margin: 0px 50px 0px">
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body">
                <h3 class="card-title">AIESEC in Universitas Indonesia's History</h3>
                <p class="card-text">
                    AIESEC in Universitas Indonesia is the pioneer of AIESEC in Indonesia. 
                    There were four founding fathers of AIESEC in Indonesia; Mr. Abdul Gani, Mr. Patia Mamontang, and 2 others. 
                    The four of them were offered by the Faculty of Economics University of Indonesia to attend an AIESEC Conference which was held in Osaka, Japan.
                    <br/><br/>
                    After attending that conference, the four of them were really interested to start AIESEC in Indonesia and because the four of them were students at the Faculty of Economics, 
                    the first AIESEC in Indonesia was in the Faculty of Economics University of Indonesia. After that, the “Malari” incident happened which caused instability of politics which resulted in the termination of AIESEC in Indonesia. 
                    After 10 years of vacuum, the faculty once again offered Mr. Adi Zakaria and Ms. Budhi Dyah Sitawati to attend an AIESEC Conference which was held in The Netherlands at that time. 
                    After they came back to Indonesia, they decided to start AIESEC in Indonesia once again.
                    <br/><br/>
                    Next, they decided to attend another AIESEC conference in Avignon, France in 1984. But, before they arrived in France, Mr. Adi Zakaria and Ms. Budhi Dyah Sitawati were given training about exchange system and other systems in AIESEC as well. 
                    After two weeks of training, both of them and members of AIESEC in The Netherlands went to France to attend the conference. AIESEC in Indonesia’s existence was being recognized for the first time in the international forum. 
                    Ms. Ita Budi was AIESEC in Indonesia’s first President, not only for AIESEC in UI but also for the whole country. 
                    In the development, Ms. Budhi Dyah Sitawati was helped by Mr. Eddie J. Soebari and Mr. Asoka. The first local committee is AIESEC in Universitas Indonesia (1984).
                </p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/press.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>

    {% endblock content %}
</body>
</html>