<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>AIESEC UI Projects</title>
</head>
<body>
    <h2 style="margin-top: 100px; margin-left: 100px;">Our Projects & Events</h2>
    <p style="font-size: 20px; padding-left: 100px;">Collaborative events that enterprise carefully planned and designed by AIESEC UI</p>
    <p>&nbsp;</p>

    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col">
              <!-- LeadTalk -->
                <div class="card">
                    <div id="carouselContent-a" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active text-center p-4">
                                <img src="{% static 'images/ltf.jpg' %}" alt="My Face" class="img-fluid">
                            </div>
                            <div class="carousel-item text-center p-4">
                                <img src="{% static 'images/leadtalk2.png' %}" alt="My Face" class="img-fluid">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselContent-a" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent-a" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>            
                    <div class="card-body">
                        <h3 class="card-title">LeadTalk by AIESEC in UI</h5>
                        <p class="card-text">
                            Throughout the years, LeadTalk by AIESEC in Universitas Indonesia has been consistently using the platform to engage young people 
                            in taking action to be fully developed global leaders and manifest their dreams and ambitions. 
                            By conducting LeadTalk, with an adaptation to the new normal, we aspire to inspire young people to take further steps and bring action on 
                            facing global issues and challenges. LeadTalk by AIESEC in Universitas Indonesia envisions to empower and motivate young people through an 
                            impactful virtual webinar series followed by engaging workshop sessions.
                        </p>
                        <a href="https://www.instagram.com/leadseries/" class="btn btn-primary">Leadseries Official Instagram Account</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- Join AIESEC -->
                <div class="card">
                    <div id="carouselContent-b" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active text-center p-4">
                                <img src="{% static 'images/join.png' %}" alt="My Face" class="img-fluid">
                            </div>
                            <div class="carousel-item text-center p-4">
                                <img src="{% static 'images/ja19crop.png' %}" alt="My Face" class="img-fluid">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselContent-b" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent-b" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>            
                    <div class="card-body">
                        <h3 class="card-title">Join AIESEC</h5>
                        <p class="card-text">
                            Join AIESEC is an annual event held by AIESEC in Universitas Indonesia to recruit new members for the organization 
                            as well as to promote global volunteer opportunities through AIESEC. Our target market is the students of Universitas Indonesia, 
                            and we expect to accomplish the goal of recruiting the best students to become a part of our organization and spreading awareness 
                            of AIESEC in Universitas Indonesia's products.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <p>&nbsp;</p>

    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col">
              <!-- LeadLive -->
                <div class="card">
                    <div id="carouselContent-c" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active text-center p-4">
                                <img src="{% static 'images/leadlive.png' %}" alt="My Face" class="img-fluid">
                            </div>
                            <div class="carousel-item text-center p-4">
                                <img src="{% static 'images/leadlive2.png' %}" alt="My Face" class="img-fluid">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselContent-c" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent-c" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>            
                    <div class="card-body">
                        <h3 class="card-title">LeadLive by AIESEC in UI</h5>
                        <p class="card-text">
                            LeadLive is a virtual event held on Instagram Live, 
                            where a representation of AIESEC in Universitas Indonesia will collaborate with partners to discuss various topics 
                            that can enable youth in recent times to enrich their knowledge. This series accentuates the significance of youth and our actions nowadays, whether it be in a national or
                            in an international scale, and how we can effectively utilize our position
                            as the foundation of future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- AIESECPEDIA -->
                <div class="card">
                    <div id="carouselContent-d" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active text-center p-4">
                                <img src="{% static 'images/aiesecpedia.png' %}" alt="My Face" class="img-fluid">
                            </div>
                            <div class="carousel-item text-center p-4">
                                <img src="{% static 'images/apdocum.jpg' %}" alt="My Face" class="img-fluid">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselContent-d" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent-d" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>            
                    <div class="card-body">
                        <h3 class="card-title">AIESECPedia</h5>
                        <p class="card-text">
                            AIESECpedia is a quarterly seminar held by AIESEC in Universitas Indonesia to enrich the knowledge and education of members of our organization. 
                            The materials presented at the seminar will be adjusted to the operational needs of our organization, which may include career, business, 
                            marketing among other things.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>
    <hr/>
    <p>&nbsp;</p>

    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col">
              <!-- LeadCulture -->
                <div class="card">
                    <div id="carouselContent-e" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active text-center p-4">
                                <img src="{% static 'images/leadculture.png' %}" alt="My Face" class="img-fluid">
                            </div>
                            <div class="carousel-item text-center p-4">
                                <img src="{% static 'images/lcdocum.png' %}" alt="My Face" class="img-fluid">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselContent-e" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent-e" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>            
                    <div class="card-body">
                        <h3 class="card-title">LeadCulture by AIESEC in UI</h5>
                        <p class="card-text">
                            LeadCulture is a webinar for youth, to raise awareness on the importance of leadership by 
                            contributing to AIESEC's program and local projects. We emphasize to our youth that despite
                            we exist within cultural barriers, our mutual struggle still persists, thus it is
                            our duty to reinforce solidarity amongst the future generation of leaders.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
    
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>