<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Go Abroad with AIESEC UI</title>
</head>
<body>
    <h2 style="margin-top: 100px; margin-left: 100px;">Go Abroad</h2>
    <p style="font-size: 20px; padding-left: 100px;">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore</p>
    <p>&nbsp;</p>

    <!-- Global Volunteer -->
    <div style="background-color: #F85A40; padding: 100px 0px 75px" class="hover08">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'images/new.png' %}" alt="My Face" class="left img-fluid">
            </div>
            <div class="col-sm-6">
                <div class="card w-75" style="margin-top: 25px;">
                    <div class="card-body" style="padding: 50px 50px 50px">
                        <img src="{% static 'images/gv.png' %}" alt="Global Volunteer" style="width:150px;">
                        <p>&nbsp;</p>
                        <h5 class="card-title">Become A Volunteer</h5>
                        <p class="card-text">Develop your leadership through a volunteering project abroad, contributing to one of the Sustainable Development Goals.</p>
                        <a class="btn btn-primary" href="https://aiesec.or.id/globalvolunteer/" role="button">Learn More</a>
                    </div>
                  </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox" style="color: white">
                <div class="carousel-item active text-center p-4"">
                    <img src="{% static 'images/myface.png' %}" alt="My Face" class="img-fluid" style="width:100px; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
                    <p><i>"By joining Global Volunteer, I feel like I had more leadership Qualities."</i></p>
                    <b>- Someone I used to know, Volunteer of South Korea</b>
                </div>
                <div class="carousel-item text-center p-4">
                    <img src="{% static 'images/myface.png' %}" alt="My Face" class="img-fluid" style="width:100px; margin-left: auto; margin-right: auto;">
                    <p><i>"I think this opportunity is one of the best experience I've ever had."</i></p>
                    <b>- Muhammad Rizki Fauzan, 2019</b>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <p>&nbsp;</p>

    <!-- Global Talent -->
    <div style="background-color: #0CB9C1; padding: 100px 0px 75px" class="hover08">
        <div class="row">
            <div class="col-sm">
                <div class="card w-75" style="margin-left: 150px; margin-top: 10px;">
                    <div class="card-body" style="padding: 50px 50px 50px">
                        <img src="{% static 'images/gta.png' %}" alt="Global Volunteer" style="width:150px;">
                        <p>&nbsp;</p>
                        <h5 class="card-title">Become An Intern</h5>
                        <p class="card-text">Develop your leadership while boosting your career prospects with an international internship in your field.</p>
                        <a class="btn btn-primary" href="https://aiesec.or.id/globaltalent/" role="button">Learn More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <img src="{% static 'images/new2.png' %}" alt="My Face" class="right img-fluid" style="margin-right: 200px;">
            </div>
        </div>
        <p>&nbsp;</p>
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox" style="color: white;">
                <div class="carousel-item active text-center p-4">
                    <img src="{% static 'images/myface.png' %}" alt="My Face" class="img-fluid" style="width:100px; margin-left: auto; margin-right: auto;">
                    <p><i>"By joining Global Volunteer, I feel like I had more leadership Qualities."</i></p>
                    <b>- Someone I used to know, Volunteer of South Korea</b>
                </div>
                <div class="carousel-item text-center p-4">
                    <img src="{% static 'images/myface.png' %}" alt="My Face" class="img-fluid" style="width:100px; margin-left: auto; margin-right: auto;">
                    <p><i>"I think this opportunity is one of the best experience I've ever had."</i></p>
                    <b>- Muhammad Rizki Fauzan, 2019</b>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
    <p>&nbsp;</p>

    <!-- Global Teacher -->
    <div style="display:block; background-color: #F48924; padding: 100px 0px 75px" class="hover08">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'images/new3.png' %}" alt="My Face" class="left img-fluid">
            </div>
            <div class="col-sm-6">
                <div class="card w-75" style="margin-left: 50px; margin-top: 10px;">
                    <div class="card-body" style="padding: 50px 50px 50px">
                        <img src="{% static 'images/gte.png' %}" alt="Global Volunteer" style="width:150px;">
                        <p>&nbsp;</p>
                        <h5 class="card-title">Become A Teacher</h5>
                        <p class="card-text">Develop your leadership through a volunteering project abroad, contributing to one of the Sustainable Development Goals.</p>
                        <a class="btn btn-primary" href="https://aiesec.or.id/globalteacher/" role="button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="container">
            <div id="carouselContent" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active text-center p-4">
                        <img src="{% static 'images/myface.png' %}" alt="My Face" class="img-fluid" style="width:100px; margin-left: auto; margin-right: auto;">
                        <p><i>"By joining Global Volunteer, I feel like I had more leadership Qualities."</i></p>
                        <b>- Someone I used to know, Volunteer of South Korea</b>
                    </div>
                    <div class="carousel-item text-center p-4">
                        <img src="{% static 'images/myface.png' %}" alt="My Face" class="img-fluid" style="width:100px; margin-left: auto; margin-right: auto;">
                        <p><i>"I think this opportunity is one of the best experience I've ever had."</i></p>
                        <b>- Muhammad Rizki Fauzan, 2019</b>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    
    
    {% endblock content %}
</body>
</html>