<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>AIESEC in Universitas Indonesia</title>
<body>
    <div id=intro>
        <h1 style="color:white;">Join Us with AIESEC UI</h1></br>
        <a href="#"><img src="{% static 'images/play.png' %}" alt="My Face" style="width:80px;"></a>
    </div>
    <h2 id="title">AIESEC UI</h2>
    <p>&nbsp;</p>
    <p id=title style="font-size: 25px; margin-left: 90px; margin-right: 90px; padding-bottom: 90px;">AIESEC is a global youth-led organization striving to achieve peace and fulfillment of humankind’s potential by activating leadership qualities in youth through learning from practical experiences in challenging environments. 
        AIESEC spreads across 114 countries and territories, including AIESEC in Indonesia. 
        AIESEC in Indonesia established in 1984 aims to develop youth to make a better Indonesia right now and in the future.</p>
    <p>&nbsp;</p>
    <div style="background-color: #F85A40; padding: 100px 0px 100px" class="hover08">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'images/new.png' %}" alt="My Face" class="left img-fluid">
            </div>
            <div class="col-sm-6">
                <div class="card w-75" style="margin-left: 50px; margin-top: 40px;">
                    <div class="card-body" style="padding: 50px 50px 50px">
                        <img src="{% static 'images/gv.png' %}" alt="Global Volunteer" style="width:150px;">
                        <p>&nbsp;</p>
                        <h5 class="card-title">Become A Volunteer</h5>
                        <p class="card-text">Develop your leadership through a volunteering project abroad, contributing to one of the Sustainable Development Goals.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div style="background-color: #0CB9C1; padding: 100px 0px 100px" class="hover08">
        <div class="row">
            <div class="col-sm">
                <div class="card w-75" style="margin-left: 150px; margin-top: 45px;">
                    <div class="card-body" style="padding: 50px 50px 50px">
                        <img src="{% static 'images/gta.png' %}" alt="Global Talent" style="width:150px;">
                        <p>&nbsp;</p>
                        <h5 class="card-title">Become An Intern</h5>
                        <p class="card-text"">Develop your leadership through a volunteering project abroad, contributing to one of the Sustainable Development Goals.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <img src="{% static 'images/new2.png' %}" alt="My Face" class="right img-fluid" style="margin-right: 200px;">
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div style="display:block; background-color: #F48924; padding: 100px 0px 100px" class="hover08">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'images/new3.png' %}" alt="My Face" class="left img-fluid">
            </div>
            <div class="col-sm-6">
                <div class="card w-75" style="margin-left: 50px; margin-top: 40px;">
                    <div class="card-body" style="padding: 50px 50px 50px">
                        <img src="{% static 'images/gte.png' %}" alt="My Face" style="width:150px;">
                        <p>&nbsp;</p>
                        <h5 class="card-title">Become A Teacher</h5>
                        <p class="card-text">Develop your leadership through a volunteering project abroad, contributing to one of the Sustainable Development Goals.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div style="display:block; background-color: #00C16E; padding: 100px 0px 100px" class="hover08">
        <div class="row">
            <div class="col-sm-6">
                <div class="card w-75" style="margin-left:150px; margin-top: 55px;">
                    <div class="card-body" style="padding: 100px 50px 100px">
                      <h5 class="card-title">Projects</h5>
                      <p class="card-text">Collaborative event that enterprise carefully planned and designed by AIESEC UI</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'images/new4.png' %}" alt="My Face" class="right img-fluid">
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <img src="{% static 'images/partners.png' %}" alt="Logo" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
    {% endblock content %}
</body>
</html>