html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
h1 {
    font-family: "Lato", Impact, Charcoal, sans-serif;
    font-size: 3vw;
    font-weight: 1000;
}
h2 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
}
#title {
    text-align: center;
}
#play {
    width: 80px;
}
#desc {
    font-size:21px;
    text-align:justify;
}
#content{
    text-align:justify;
}
#intro {
    text-align: center;
    background-image:url(../images/people.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding:300px 0px 400px;
}
#footer {
    font-family: "Yellowtail", Impact, Charcoal, sans-serif;
}
.left {
    display: block;
    margin-left:150px;
    width: 600px;
    height:auto;
}
.right {
    display: block;
    margin-left: auto;
    margin-right:500px;
    margin-top: 10px;
    width: 600px;
    height:auto;
}
.parent {
    position: fixed;
    top: 0;
    left: 0;
}
.image1 {
    width:500px; 
    position: relative;
    top: 0;
    left: 0;
}
.btn-gic {
    color: #4d5bd7;
    border-color: #4d5bd7; /*set the color you want here*/
}
.btn-gic:hover, .btn-gic:focus, .btn-gic:active, .btn-gic.active, .open>.dropdown-toggle.btn-gic {
    color: #fff;
    background-color: #4d5bd7;
}
@media (max-width: 575.98px) {

    h1 { 
       font-size: 50px;
    }
    h2 {
        font-size:25px;
    }
    .parent{
        position: static;
    }
    .image2 {
        top:50px;
    }
    .left {
        width:50%;
        margin-left: auto;
        margin-right: auto;
    }
    .right {
        width:50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .kolom {
        width: 100%;
    }
    #intro {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #introtxt {
        font-size:20px;
        margin-top: 30px;
    }
    #play {
        width: 50px;
    }
    #education{
        font-size: 30px;
        top: 20px;
        right:150px;
    }
    #theman{
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        right:150px;
    }
    #text-left {
        font-size:30px;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        right:150px; 
    }
    .column {
        width: 100%;
    }
    #side{
        margin-left: 40px;
        margin-right: 40px;
    }
    #side2{
        margin-left: 40px;
        margin-right: 20px;
    }
 }